# HatBot config data
hatbot_token = 'token'

# HVC Minecraft server
hvc_mc = {
    'ip': 'real ip',
    'ip_name': text ip',
    'dynmap': 'dynmap link',
    'icon': 'icon url',
    }

# HVC TeamSpeak server
hvc_ts = {
    'ip': 'ip',
    'icon': 'icon url',
    }
