aiosqlite==0.17.0
discord.py==1.7.3
git+git://github.com/Rapptz/discord-ext-menus.git
git+git://github.com/Snaptraks/aiowolframalpha.git
fuzzywuzzy==0.18.0
matplotlib==3.5.2
mcstatus==9.0.4
numpy==1.22.4
pillow==9.1.1
